.search-result{
    padding: 25px;
}
.search-form-bg button{
    border: none;
    background:none;
    color: white !important;
    display: block;
    height: 100%;
    width: 100%;

}
.search-btn{
    background-color: #b78727;
}
label{
    display: block;
    text-align: center;
    margin-bottom: 0;
    background-color: #b78727;
    margin-left: -5px;
    margin-right: -5px;
    color: white;
}

.result-list-wrp{
  margin: 25px 0;
}

.house .house-img{
    position: relative;
}
.house-wrp .house{
  box-shadow: 3px 6px 12px rgba(0,0,0,0.1),3px 6px 12px rgba(0,0,0,0.1);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.house-wrp .house:hover{
cursor: pointer;
}
.house-wrp .house::after{
 content: " ";
 display: table-cell;
 background-color: #b78727;
 position: absolute;
 height: .06em;
 width: 90%;
 bottom: 0;
 left: 0;
 right: 0;
 margin: auto;
}
.house-img .img-overlay-wrp{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}
.house-img .img-overlay{
 position: relative;
 height: 100%;
 background-image: linear-gradient(20deg,rgba(0, 0, 0, 0.87) 0%,rgba(0, 0, 0, 0.0) 55%);
}

.img-overlay p.house-condition{
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    padding: 0 15px;
    background-color: white;
    border-radius: 50px;
    font-size: .8em;
    color: #b78727;
    text-transform: capitalize;
}

.img-overlay .house-price{
    position: absolute;
    bottom: 0;
    color: white;
    font-size: .9em;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}

.house .house-info{
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  margin: 0 15px;
}
.house-info .house-location,.house-info .property-type{
  min-width: 50%;
  margin: 10px;
  font-size: .9em;
  font-weight: 400;
  text-transform: capitalize;
}
.house .house-desc{
  display: flex;
  align-items: center;
  align-content: space-between;
  flex: 0 1 auto;
  padding: 15px 10px;
  color: #b78727;
}

.house-desc div{
  min-width: 30%;
  text-align: center;
  font-size: .9em;
}

@media (max-width: 575.98px){
    .search-form-bg{
        border-radius: 0px;
    }
    .result-list-wrp{
        margin: 25px 0;
      }
    
}
/*repeated in home*/
.sm-half{
    width: 50% !important;
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-dropdown select {
    display: none; /*hide original SELECT element:*/
  }
  
  button{
    background: none;
    border: none;
    color: #b78727;
    transition: transform .5s ease;
    outline: none;
    text-decoration: none;
  } 
  button:hover{
      transform-origin: center;
      transform: scale(1.08) rotate(15deg);
      cursor: pointer;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #b78727 transparent transparent transparent;
    /* border-color: #fff transparent transparent transparent; */
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #b78727;
    padding: 8px 16px;
    text-align: center;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    font-weight: 900;
    font-size: .85em;
  }

  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 165px;
    overflow-y: auto;
  }
  
  .select-items div:not(:last-of-type) {
    border-bottom: 1px solid #b78727;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
