.action a{
 display: inline-block;
 margin-left: 10px;
 margin-bottom: 10px;
}

.not-found .fa-stack {
  background: #b78727;
  /* background: rgba(0,0,0,0.1); */
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 20px -12px inset #d2d1266e;
}

.not-found .fa-search{
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  color:rgba(0,0,0,0.5)
}

.not-found h2{
color:#b78727;
margin-top:15px;
text-align: center;
}


@keyframes wobble {
from {
-webkit-transform: none;
transform: none;
}

15% {
-webkit-transform: translate3d(-25%, 35%, 0) rotate3d(0, 0, 1, -5deg);
transform: translate3d(-25%, 35%, 0) rotate3d(0, 0, 1, -5deg);
}

30% {
-webkit-transform: translate3d(20%, -35%, 0) rotate3d(0, 0, 1, 3deg);
transform: translate3d(20%, -35%, 0) rotate3d(0, 0, 1, 3deg);
}

45% {
-webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
}

60% {
-webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
}

75% {
-webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
}

to {
-webkit-transform: none;
transform: none;
}
}

.lookup {
-webkit-animation-name: wobble;
animation-name: wobble;
}